:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --title-text-color-two: #ffffff;
    --accent-color: #2196f3;
    --background-color: #ffffff;
    --background-color-footer: #2f303a;
    --background-color-button: #F5F4FA;
    --background-color-section-team: #F5F4FA;
    --background-color-icon: rgb(245, 244, 250);
    --background-color-crad-content: #ffffff;
    --background-color-button-two: #2196f3;
    --logo-color: #000000;
    --logo-color-two: #2196f3;
    --logo-color-footer: #ffffff;
    --color-button-hover: #ffffff;
}

/* Header */
/* logo*/
 a {
     text-decoration: none; /* Убирае нижнее подчеркивание */
    }
 ul, li {
     list-style-type: none; 
    }    
.list {
    padding: 0;
    margin: 0;
    list-style: none;
}
.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    outline: 2px solid blue;
}
.main-nav {
    display: flex;
    align-items: center;
}
.nav-list {
    display: flex;
    margin-left: 84px;
    padding-left: 0px;
}
.sitenav .item:not(:last-child) {
    margin-right: 50px;
}
.feedback-list .item:not(:last-child) {
    margin-right: 30px;
}
.container-header {
    display: flex;
    flex-wrap: nowrap;
}
.container-hero {
    /* width: 1600px;
    height: 600px; */
    /* margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    padding-bottom: 200px; */
    /* background-image: linear-gradient(
    to right,
    rgba(47, 48, 58, 0.8),
    rgba(47, 48, 58, 0.8)), url(..//Images/header.jpg); */

    text-align: center;
}
.container-footer {
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 60px;
    
}
.container-portfolio {
    padding-top: 93px;
    padding-bottom: 94px;
}
.footer-address {
    display: block;
}
/* .address .text {
    margin-bottom: 0px;
    margin-top: 20px;
} */
.feedback-list {
    display: flex;
    margin-left: auto;
}
.logo {
     font-style: normal;
     font-family: raleway, sans-serif;
     font-weight: 700;
     font-size: 26px;
     line-height: 1.19;
    }
.logo-header {
        color: var(--logo-color);
    }
.logo-blue {
     color: var(--logo-color-two);
    }
.link {
    color: var(--title-text-color);
}  
.link-style {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-family: roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
/*site-nav*/
.item-team-link,
.link:hover,
.link:focus,
.feedback-link:hover,
.feedback-link:focus,
.address-link:hover,
.address-link:focus  {
    color: var(--accent-color);
}
.sitenav .link.current {
    color: var(--accent-color);
}
.feedback-link {
    color: var(--primary-text-color);
}
/* hero */
.title {
    color: var(--title-text-color);
    font-family: roboto, sans-serif;
    font-style: normal;
}
.hero {
    text-align: center;
}
.hero-title {
    margin-top: 0;
    margin-bottom: 30px;
    color: var(--background-color);
    text-align: center;
    font-family: roboto, sans-serif;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.03em;
}
/* section */
.section .title-one {
    display: none;
}
.section {
    display: flex;
    outline: 2px solid red;
}
.section-hero {
    display: flex;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(
    to right,
    rgba(47, 48, 58, 0.8),
    rgba(47, 48, 58, 0.8)), url(..//Images/header.jpg);
    background-repeat: no-repeat;
    background-position: center;
}
.section-Services {
    padding-bottom: 94px
}
.section-team {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--background-color-section-team);
}
/* .section-client {
    padding-top: 94px;
    padding-bottom: 94px;
} */
.section-company,
.section-client {
    padding-top: 94px;
    padding-bottom: 94px;
}

.client-list {
    display: flex;
    justify-content: space-between;
}
/* .client-list .item-client:not(:last-child) {
    margin-right: 30px;
} */

.section-title {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 0px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
}
/* Features */
.features-list .title {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
}
.img {
    display: block;
    max-width: 100%;
    height: auto;
} 
.features-img {
    display: block;
    margin-bottom: 30px;
    padding: 25px 100px;
    border-radius: 4px;
    background-color: var(--background-color-icon);
}
.hero-img {
    background-position: center;
    text-align: center;
    justify-self: center;
}
.text {
    color: var(--primary-text-color);
    font-family: roboto, sans-serif;
    font-style: normal;
}
.features-list .text {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    min-width: 270px;
}
.features-list {
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    min-height: 251px;
}
.features-item:not(:last-child) {
    margin-right: 30px;
}

/* Services */
.services-list .title {
    display: flex;
    justify-content: center;
    padding-top: 27px;
    padding-bottom: 27px;
    margin-top: 0;
    margin-bottom: 0;
    background-color: rgba(47, 48, 58, 0.8);
    color: var(--title-text-color-two);
    font-family: roboto, sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
}
/* team */
.team-link {
    display: flex;
    margin-bottom: 24px;
    padding-left: 0px;
    justify-content: center;
    
}
.team-link .item-team:not(:last-child) {
    margin-right: 10px;
}
.team-list {
    display: flex;
    justify-content: space-between;
}
.team-list .item {
    background-color: var(--background-color);
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
    border-radius: 0px 0px 4px 4px;
}
.team-list .title {
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    text-align: center;
}
.team-list .text {
    margin-top: 0px;
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-align: center;
}
.services-list {
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
/* .servise-item:not(:last-child) {
    margin-right: 30px;
} */

/* product */
.product-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 0px;
}
.product-item:not(:last-child) {
    margin-right: 8px;
}
.button {
    display: inline-block;
    border-radius: 4px;
    padding: 10px 32px;
    color: var(--title-text-color-two);
    background-color: var(--background-color-button-two);
    font-family: roboto, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    min-width: 200px;
    letter-spacing: 0.06em; 
    text-align: center;
    /* text-decoration: none;
    text-align: center; */
}
.button-style {
    margin: 0px;
    padding: 6px 22px;
    background-color: var(--background-color-button);
    color: var(--title-text-color);
    font-family: roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em; 
    border-radius: 4px;
    border: 0px;
}
.button-style:hover,
.button-style:focus {
    background-color: var(--accent-color);
    color: var(--background-color-button);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.portfolio-product {
    display: flex;
    flex-wrap: wrap;
}
.portfolio-product .title {
    margin-top: 20px;
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
} 
.portfolio-product .text {
    margin-top: 0px;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.87;
    letter-spacing: 0.03em;
} 
.portfolio-product .portfolio-item:nth-child(3n) {
    margin-right: 0px;
}
.portfolio-product .portfolio-item:nth-child(n + 4) {
    margin-top: 30px;
}
.portfolio-item {
    width: calc((100% - 30px * 2 ) / 3);
    margin-right: 30px;
}
.card-img {
    display: block;
}
.card-content {
    border: 1px solid #EEEEEE;
    background-color: var(--background-color-crad-content);
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 0px;
}
/* footer */
.footer {
    background-color: var(--background-color-footer);
}
.footer .title {
    color: var(--title-text-color-two);
    font-family: roboto, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.14;
    letter-spacing: 0.03em;
} 
.footer-address .text {
    margin-bottom: 9px;
    margin-top: 20px;
    color: var(--title-text-color-two);
    font-family: roboto, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
} 
.social-list {
    display: flex;
    justify-content: space-between;
    padding: inherit;
}
.address-link {
    display: block;
    color: rgba(255, 255, 255, 0.6);
    font-family: roboto, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
} 

.address-link:hover,
.address-link:focus {
    color: var(--accent-color);
}
.copyright {
    color: rgba(255, 255, 255, 0.4);
    font-family: roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 2;
    letter-spacing: 0.03em;
} 
.logo-footer {
    color: var(--logo-color-footer);
} 

/* геометрия */

/* body {
    margin: 0;
}
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
} */
